#flexcontainer{
    display: flex;
    background-color: black;
}

#flexcontainer > div{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    color:white;
}
#flexcontainer > div:hover{
    background-color:cyan;
    color:black;
}

a{
    color:white;
    text-decoration:none;
}

.peu_de_pagina{
    text-align:center;
    color:white;
    background: black;
    padding:10px;
}
#flexcontainer > div:hover{
    background-color:cyan;
    color:black;
}
img{
    width: auto;
    height: auto;
}
@media only screen and (max-width:600px){
    #flexcontainer > div:hover{
        background-color:cyan;
        color:black;
    }
    #flexcontainer{
        display: flex;
        background-color: black;
    }
    
    #flexcontainer > div{
        margin: 7px;
        padding: 0px;
        font-size: 15px;
        color:white;
    }
    
    a{
        color:white;
        text-decoration:none;
    }
    
    .peu_de_pagina{
        text-align:center;
        color:white;
        background: black;
        padding:10px;
    }
}