#flexcontainer{
    display: flex;
    background-color: black;
}

#flexcontainer > div{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    color:white;
}
#flexcontainer1{
    display:flex;
    background-color: grey;
    flex-wrap:wrap;

}
#flexcontainer1 > div{
    margin-left:10px;
}
.peu_de_pagina{
    text-align:center;
    color:white;
    background: black;
    padding:10px;
    bottom: 0;
}
a{
    color:white;
    text-decoration:none;
}
#flexcontainer > div:hover{
    background-color:cyan;
    color:black;
}
img{
    width: auto;
    height: auto;
}
@media only screen and (max-width:600px){
    #flexcontainer > div:hover{
        background-color:cyan;
        color:black;
    }
    #flexcontainer{
        display: flex;
        background-color: black;
    }
    
    #flexcontainer > div{
        margin: 10px;
        padding: 0px;
        font-size: 15px;
        color:white;
    }
    #flexcontainer1{
        display:flex;
        background-color: grey;
        flex-wrap:wrap;
    
    }
    #flexcontainer1 > div{
        margin-left:10px;
    }
    .peu_de_pagina{
        text-align:center;
        color:white;
        background: black;
        padding:10px;
    }
    a{
        color:white;
        text-decoration:none;
    }
    
}